# Análise de dados do covid19 no Brasil - dia 22/03

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('brazil_covid19.csv')

#### Verificando topo do DF:

In [5]:
df.head()

         date   hour              state  suspects  refuses  cases  deaths
0  2020-01-30  16:00       Minas Gerais         1        0      0       0
1  2020-01-30  16:00     Rio de Janeiro         1        0      0       0
2  2020-01-30  16:00     Santa Catarina         0        2      0       0
3  2020-01-30  16:00          São Paulo         3        1      0       0
4  2020-01-30  16:00  Rio Grande do Sul         2        2      0       0

#### Verificando fim do DF:

In [6]:
df.tail()

           date hour           state  suspects  refuses  cases  deaths
787  2020-03-22  NaN         Roraima        16        0      2       0
788  2020-03-22  NaN  Santa Catarina         0        0     57       0
789  2020-03-22  NaN       São Paulo         0        0    631      22
790  2020-03-22  NaN         Sergipe         0        0     10       0
791  2020-03-22  NaN       Tocantins         0        0      2       0

#### Informações sobre o tamanho e os dados do DF:

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 7 columns):
date        792 non-null object
hour        684 non-null object
state       792 non-null object
suspects    792 non-null int64
refuses     792 non-null int64
cases       792 non-null int64
deaths      792 non-null int64
dtypes: int64(4), object(3)
memory usage: 43.4+ KB

####  Pegando somente os últimos dados de cada estado, que representam o dia 22/03:

In [8]:
rdf = df.iloc[765:]

####  Número de casos suspeitos do RN:

In [9]:
max(rdf[rdf['state'] == 'Rio Grande do Norte']['suspects'])

0

#### Número de mortes do RN:

In [30]:
max(rdf[rdf['state'] == 'Rio Grande do Norte']['deaths'])

0

#### Estado com o maior número de casos suspeitos:

In [31]:
rdf[rdf['suspects'] == rdf['suspects'].max()]

           date hour         state  suspects  refuses  cases  deaths
777  2020-03-22  NaN  Minas Gerais      7190        0     83       0

#### Estado com o maior número de mortes:

In [32]:
rdf[rdf['deaths'] == rdf['deaths'].max()]

           date hour      state  suspects  refuses  cases  deaths
789  2020-03-22  NaN  São Paulo         0        0    631      22

####  Estado com maior número de casos confirmados:

In [33]:
rdf[rdf['cases'] == rdf['cases'].max()]

           date hour      state  suspects  refuses  cases  deaths
789  2020-03-22  NaN  São Paulo         0        0    631      22

####  Estado com o maior número de casos com diagnóstico negativo:

In [34]:
rdf[rdf['refuses'] == rdf['refuses'].max()]

           date hour             state  suspects  refuses  cases  deaths
771  2020-03-22  NaN  Distrito Federal      3301     1815    117       0

####  Estados com nenhum caso confirmado:

In [36]:
rdf[rdf['cases'] == 0]

Empty DataFrame
Columns: [date, hour, state, suspects, refuses, cases, deaths]
Index: []

Todos os estados tem casos confirmados

#### Lista ordenada de casos por estado:

In [17]:
rdf.sort_values(by='cases', ascending = False)

           date hour                state  suspects  refuses  cases  deaths
789  2020-03-22  NaN            São Paulo         0        0    631      22
783  2020-03-22  NaN       Rio de Janeiro         0        0    186       3
770  2020-03-22  NaN                Ceará         0        0    125       0
771  2020-03-22  NaN     Distrito Federal      3301     1815    117       0
777  2020-03-22  NaN         Minas Gerais      7190        0     83       0
785  2020-03-22  NaN    Rio Grande do Sul         0        0     72       0
788  2020-03-22  NaN       Santa Catarina         0        0     57       0
780  2020-03-22  NaN               Paraná      1354      159     54       0
769  2020-03-22  NaN                Bahia       601        0     49       0
781  2020-03-22  NaN           Pernambuco       310      375     37       0
768  2020-03-22  NaN             Amazonas         0        0     26       0
772  2020-03-22  NaN       Espírito Santo       696      252     26       0
773  2020-03-22  NaN                Goiás       765      170     21       0
776  2020-03-22  NaN   Mato Grosso do Sul        76      164     21       0
765  2020-03-22  NaN                 Acre         0        0     11       0
790  2020-03-22  NaN              Sergipe         0        0     10       0
784  2020-03-22  NaN  Rio Grande do Norte         0        0      9       0
766  2020-03-22  NaN              Alagoas        89       63      7       0
778  2020-03-22  NaN                 Pará       207      101      4       0
782  2020-03-22  NaN                Piauí         0        0      4       0
786  2020-03-22  NaN             Rondônia       163       30      3       0
787  2020-03-22  NaN              Roraima        16        0      2       0
775  2020-03-22  NaN          Mato Grosso         0        0      2       0
774  2020-03-22  NaN             Maranhão       280      136      2       0
791  2020-03-22  NaN            Tocantins         0        0      2       0
779  2020-03-22  NaN              Paraíba       187       40      1       0
767  2020-03-22  NaN                Amapá        84       49      1       0

#### Lista ordenada de mortes por estado:

In [29]:
rdf.sort_values(by='deaths', ascending = False)

           date hour                state  suspects  refuses  cases  deaths
789  2020-03-22  NaN            São Paulo         0        0    631      22
783  2020-03-22  NaN       Rio de Janeiro         0        0    186       3
765  2020-03-22  NaN                 Acre         0        0     11       0
779  2020-03-22  NaN              Paraíba       187       40      1       0
790  2020-03-22  NaN              Sergipe         0        0     10       0
788  2020-03-22  NaN       Santa Catarina         0        0     57       0
787  2020-03-22  NaN              Roraima        16        0      2       0
786  2020-03-22  NaN             Rondônia       163       30      3       0
785  2020-03-22  NaN    Rio Grande do Sul         0        0     72       0
784  2020-03-22  NaN  Rio Grande do Norte         0        0      9       0
782  2020-03-22  NaN                Piauí         0        0      4       0
781  2020-03-22  NaN           Pernambuco       310      375     37       0
780  2020-03-22  NaN               Paraná      1354      159     54       0
778  2020-03-22  NaN                 Pará       207      101      4       0
766  2020-03-22  NaN              Alagoas        89       63      7       0
777  2020-03-22  NaN         Minas Gerais      7190        0     83       0
776  2020-03-22  NaN   Mato Grosso do Sul        76      164     21       0
775  2020-03-22  NaN          Mato Grosso         0        0      2       0
774  2020-03-22  NaN             Maranhão       280      136      2       0
773  2020-03-22  NaN                Goiás       765      170     21       0
772  2020-03-22  NaN       Espírito Santo       696      252     26       0
771  2020-03-22  NaN     Distrito Federal      3301     1815    117       0
770  2020-03-22  NaN                Ceará         0        0    125       0
769  2020-03-22  NaN                Bahia       601        0     49       0
768  2020-03-22  NaN             Amazonas         0        0     26       0
767  2020-03-22  NaN                Amapá        84       49      1       0
791  2020-03-22  NaN            Tocantins         0        0      2       0

#### Número de casos confirmados no Brasil:

In [44]:
sum(rdf['cases'])

1563

#### Número de casos de morte no Brasil:

In [43]:
sum(rdf['deaths'])

25